#lesson-nav .nav-item {
  border-bottom: 1px solid #47748b;
}

#lesson-nav li.nav-item a {
 padding: 10px;
  font-size: 1em;
  display: block;
}
#lesson-nav li.nav-item a:hover {
  color: #132b8d;
  background: rgb(236, 236, 236);
}
#lesson-nav li.nav-item a.active {
    color: #132b8d;
    background: rgb(236, 236, 236);
  }
#lesson-nav li.nav-item a i{
    padding-right: 4px;
}
